body{
    font-family: tahoma;
    font-size: 28px;
    width: 1000px;
    margin: 0px auto;
    background-image:url("img/bautroi.jpg");
}
#header{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 1000px;
    height: 70px;
    background-image:url("img/f.jpg");
    color: white;
    text-align: center;
    line-height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
}
#header #logo{
    margin-left: 20px;
    width: 70px;
    height: 70px;
    float: left;
}
#banner{
    height: 50px;
    width: 1000px;
    background-image:url("img/a.jpg");
}
#main{
    min-height:565px ;
    width: 1000px;
    background-color: white;
    background-image: url("img/farming.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#main #top{
   min-height: 315px;

}
#main #bot{
    min-height: 200px;


}
#footer{
    background: whitesmoke;
    min-height: 45px;
    width: 1000px;
    height: 75px;
    line-height: 25px;
}
#header ul{
    margin: 0px;
    padding: 0px;
}
#header ul li{
    list-style: none;
    float: right;
    width: 90%;
    font-size: 50px;
    
}
.tag
{
    width:100%;
    height:60px;
}
.tag button
{
    width: 10%  ;
    height:50px;
    font-size: 20px;
   margin-left:10% ;
   margin-right:2%;
  
}
#footer ul{
    margin: 0px;
    padding: 0px;
}
#footer ul li{
    list-style: none;
    float: left;
    width: 65%;
    font-size: 15px;

}


#nd{
    width: 100px;
    height: 120px;
    margin-left: 10%;
    float: left;
}
img#Temperature 
{
    width: 120px;
    height: 120px;
    margin-left: 50%;
}
h2 
{
    font-size: x-large;
    width: 120px;
    height: 30px;
    margin-left: 60%;
    color: rgb(228, 150, 61);
    text-align: center;
}



#da{
    width: 100px;
    height: 120px;
    margin-left: 20%;
    float: left;
}
img#Moisture 
{
    width: 120px;
    height: 120px;
    margin-left: 65%;
}
h4 
{
    font-size: x-large;
    width: 120px;
    height: 30px;
    margin-left: 70%;
    margin-top: 50%;
    color: rgb(40, 37, 44);
    text-align: center;
}
#lm{
    width: 100px;
    height: 120px;
    margin-right: 17%;
    margin-top: -0.7%;
    float: right;
}
img#Humidity 
{
    width: 120px;
    height: 120px;
    margin-left: 40%;
}
h6{
    font-size: x-large;
    width: 180px;
    height: 30px;
    margin-left: 20%;
    color: rgb(46, 26, 219);
    text-align: center;
}
.thongso
{
    width: 90%;
    height: 20%;
    position: relative;
    top:50%;
    margin-left:0px ;
}
#nhietdo
{
    position: relative;
    right:35%;
    margin-top: 165px;
    float: left;
}
#doamdat
{
    position: relative;
    left: -7%;
    margin-top: 165px;
    float: left;
}
#doamkk
{
    margin-top: 165px;
    left: 15%;
    float: right;
    position: relative;
}

#bot h1 {
    width: 200px;
    height: 300px;
    display: inline-block;
    border-style: inset;
    margin-left: 9.5%;
}
#bot h1 h2
{
    width:100%;
    height:10%;
    background-color: beige; 
}

button 
{
    width: 60px;
    height: 30px;
    margin-left: 10%;
    font-size: 20px;
    font-family: revert;
    margin-right: auto;
}

#bot h2{
    float: left;
    margin-left: 14%;
    margin-top: -12%;
    font-size: 20px;
    font-family: tahoma;
    color: black;
}
img#hose {
    margin-top: 12%;
}

#bot h3{
    float: left;
    margin-left: 47%;
    margin-top: -20%;
    font-size: 20px;
    font-family: tahoma;
    color: black;
}
#bot h4{
    float: left;
    margin-left: 76%;
    margin-top: -12%;
    font-size: 20px;
    font-family: tahoma;
    color: black;
}
#time{
    margin-left: 46%;
    font-family: tahoma;
    color: rgb(6, 240, 123);
    font-weight: 800;
}

#text_hose{
    margin-right: 30%;
}

#timeInput{
    margin-left: 2%;
}

#txtMoisture{
    margin-left: 8%;
}

#hiddentext{
    font-size: 1px;
}